html, body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EDF2EC;
}

nav {
    //background-color: #9dd281;
    background-color: #C8E7B7;
    box-shadow: 0 5px 10px 3px rgba(200, 231, 183, .5);
    z-index: 3;
}

img {
    max-width: 100%;
}

.nav-link {
    font-weight: 500;
}

.layout{
    .card-header {
        color: rgba(0, 0, 0, 0.5);
        background: #EDF2EC;
        font-weight: 500;
    }
}

