.left {
    background: #fff;
    border-radius: 5px;
    padding: 20px 0;
    box-shadow: 3px 3px 6px 4px #C8E7B7;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            a {
                padding: 10px 15px;
                display: block;
                color: #1b3259;
                transition: 0.3s;
                font-size: 15px;
                font-weight: 500;

                &:hover, &:focus, &.active {
                    color: #fff;
                    text-decoration: none;
                    background-color: rgba(157, 210, 129, .8);
                }
            }
        }
    }
    + .left {
        margin-top: 20px;
    }
}

.social-icon {
    display: inline-block;
    margin: 0 10px;
    img {
        width: 30px;
        height: 30px;
    }
}

.social-disabled {
    img {
        filter: grayscale(1);
    }
}

.b-default-courses {
    padding: 35px 0 15px;
    h3 {
        font-size: 18px;
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 20px;
    }
    .item {
        color: rgba(0, 0, 0, 0.8);
        margin-bottom: 20px;
        display: block;
        span {
            font-size: 14px;
            margin: 10px 0;
            display: block;
        }
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}

.b-online-courses {
}

.b-offline-courses {
}

.b-projects {
    background-color: #EDF2EC;
}

nav {
    .avatar {
        width: 40px;
        border-radius: 50%;
        margin: 0 0 0 5px;
    }
}

main {
    padding-left: 60px;
    @media(min-width: 1280px) {
        padding-left: 0;
    }
}

aside {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    box-shadow: 0 5px 10px 3px rgba(200, 231, 183, 0.5);
    width: 60px;
    height: 100%;
    padding: 100px 0;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 5px 0px;
        }
        a {
            font-size: 10px;
            text-align: center;
            display: block;
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}
