
.message-input {
    height: 90px !important;
}
.chat-avatar {
    white: 36px;
    height: 36px;
    float: left;
    margin-right: 10px;
}
.chat-user-name {
    padding: 10px;
}
.chat-user {
    padding: 8px 10px;
    border-bottom: 1px solid #e7eaec;
}
.chat-user a {
    color: inherit;
}
.chat-view {
    z-index: 20012;
}
.chat-users,
.chat-statistic {
    margin-right: -30px;
}
@media (max-width: 992px) {
    .chat-users,
    .chat-statistic {
        margin-left: 0;
    }
}
.chat-view .ibox-content {
    padding: 0;
}
.chat-message {
    padding: 10px 20px;
}
.message-avatar {
    height: 48px;
    width: 48px;
    border: 1px solid #e7eaec;
    border-radius: 4px;
    margin-top: 1px;
}
.chat-discussion .chat-message.left .message-avatar {
    float: left;
    margin-right: 10px;
}
.chat-discussion .chat-message.right .message-avatar {
    float: right;
    margin-left: 10px;
}
.message {
    background-color: #fff;
    border: 1px solid #e7eaec;
    text-align: left;
    display: block;
    padding: 10px 20px;
    position: relative;
    border-radius: 4px;
}
.chat-discussion .chat-message.left .message-date {
    float: right;
}
.chat-discussion .chat-message.right .message-date {
    float: left;
}
.chat-discussion .chat-message.left .message {
    text-align: left;
    margin-left: 55px;
}

.chat-discussion .chat-message.left {
    background: none;
    padding: 10px 20px;
    box-shadow: none;
}

.chat-discussion .chat-message.right .message {
    text-align: right;
    margin-right: 55px;
}
.message-date {
    font-size: 10px;
    color: #888888;
}
.message-content {
    display: block;
}
.chat-discussion {
    background: #eee;
    padding: 15px;
    height: 400px;
    overflow-y: auto;
}
.chat-users {
    overflow-y: auto;
    height: 400px;
}
.chat-message-form .form-group {
    margin-bottom: 0;
}
.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}
.ibox.collapsed .ibox-content {
    display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}
.ibox:after,
.ibox:before {
    display: table;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #ffffff;
    padding: 10px 15px;
}

.message-input {
    height: 90px !important;
}
.form-control, .single-line {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}

.loading {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/loading.svg') center no-repeat;
    }
}

aside ul a {
    font-size: 10px;
    text-align: center;
}

aside ul li {
    padding: 5px 0px;
    text-align: center;
}

@media (max-width: 767px) {
    .broad-iframe {
        max-height: 40vh;
    }

    h1 {
        font-size: 16px;
    }
    .left + .left {
        margin-top: 0;
    }
    .chat-discussion {
        height: 65vh;
        padding: 15px 5px;
    }
    .chat-discussion .chat-message.right .message-date,
    .chat-discussion .chat-message.left .message-date {
        float: none;
        display: block;
    }
    .chat-discussion .chat-message.left,
    .chat-discussion .chat-message.right {
        background: none;
        border-radius: 5px;
        padding: 5px 0;
        box-shadow: none;
    }
    .chat-discussion .chat-message.right .message,
    .chat-discussion .chat-message.left .message,
    .chat-discussion .chat-message .message {
        margin-left: 0;
        margin-right: 0;
        padding: 5px;
    }
    .chat-discussion .chat-message .message-avatar,
    .chat-users {
        display: none;
    }
}
